streamlit
streamlit-chat==0.1.1
langchain==0.2.6
langchain-community==0.2.6
langchain-openai==0.1.9
chromadb==0.4.24
pysqlite3-binary==0.5.4
docx2txt
python-pptx
unstructured
pytesseract
gspread
google-auth-oauthlib
tiktoken
python-dotenv
